mat-divider {
  margin: 1rem;
}

.option-edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fields-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 0.5rem 0;
}

.field-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.2rem;
}

.field-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      var(--mat-sys-primary),
      var(--mat-sys-tertiary)
  );
  opacity: 0;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  border-radius: 20rem 8rem;
}

.field-wrapper:hover::before {
  opacity: 0.3;
}

.field-wrapper > button {
  color: var(--mat-sys-error);
}
