<div>
  <mat-divider></mat-divider>
  <div class="option-edit-container">
    <ng-content/>
    <button matButton="elevated" (click)="updateItems()">Edit</button>
  </div>
  <div class="fields-container">
    @for (item of this.items(); track item; let itemIdx = $index) {
      <div class="field-wrapper">
        <app-item-presentation [item]="item"/>
        <button matIconButton (click)="deleteItem(itemIdx)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </div>
</div>
