<div>
  <div class="option-edit-container">
    <ng-content/>
    <button matButton="elevated" (click)="select()">Select {{this.itemName()}}</button>
  </div>
  <div class="fields-container">
    @let selectionItem = this.selectionItem();
    @if(Array.isArray(selectionItem)){
      @for (item of selectionItem; track item; let itemIdx = $index) {
        <div class="field-wrapper">
          <app-item-presentation [item]="item"/>
          <button matIconButton (click)="deleteItem(itemIdx)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    }
    @else if(selectionItem !== undefined) {
      <div class="field-wrapper">
        <app-item-presentation [item]="selectionItem"/>
        <button matIconButton (click)="deleteItem(undefined)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </div>
</div>
