<mat-card>
  <mat-card-title>Add Form Group</mat-card-title>
  <mat-card-content>
    <app-item-selection-list [possibleItems]="this.possibleFields()" [(items)]="this.selectedFields">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [formControl]="name">
        @if(this.name.hasError('required')){
          <mat-error>Name is required</mat-error>
        }
      </mat-form-field>
    </app-item-selection-list>
  </mat-card-content>
  <mat-card-actions>
    <button matButton="filled" (click)="submitFormGroup()" [disabled]="!this.isValid()">Submit</button>
  </mat-card-actions>
</mat-card>
