@if(this.processing()){
  <mat-progress-bar mode="indeterminate"/>
}
@else {
  <mat-card>
    <mat-card-title>Add Single Choice Field</mat-card-title>
    <mat-card-content>
      <form [formGroup]="oneOfFieldForm">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name">
          @if (oneOfFieldForm.get('name')?.hasError('required')) {
            <mat-error>The name is required</mat-error>
          }
        </mat-form-field>
        <div formArrayName="options">
          @for (option of options.controls; track $index; let idx = $index) {
            <app-item-selection-list [possibleItems]="this.possibleFields()" [(selectionItem)]="this.fields[idx]" [itemName]="'Fields'">
              <mat-form-field>
                <mat-label>{{ idx + 1 }}.Option</mat-label>
                <input type="text" matInput [formControlName]="idx">
                @if (options.at(idx).hasError('required')) {
                  <mat-error>The {{ idx + 1 }}.Option is required</mat-error>
                }
              </mat-form-field>
              @if (idx > 1) {
                <button matButton="elevated" (click)="deleteOption(idx)">Delete</button>
              }
            </app-item-selection-list>
          }
        </div>
        <app-add-more-button (onClick)="addOption()"/>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button matButton="filled" (click)="submitFormField()" [disabled]="!this.isValid()">Submit</button>
    </mat-card-actions>
  </mat-card>
}
