.wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100vh;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  position: relative;
  margin: auto;
}

.box {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  border: 3px solid black;
  position: absolute;
  border-radius: 50%;
}

.box-container > .box{
  animation-name: box-animation;
  animation-iteration-count: initial;
  animation-timing-function: ease-out;
  animation-duration: 2s;
}

@keyframes box-animation {
  0% {
    background-color: red;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: red;
  }
}
