.wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100vh;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  position: relative;
  margin: auto;
}

.box {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  border: 3px solid var(--mat-sys-outline);
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(red 0 33%, white 33% 66%, red 66% 100%);
}
